<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput name="name" placeholder="Name" [(ngModel)]="course.name">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput type="number" name="calories" placeholder="Calories" [(ngModel)]="course.calories">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput type="number" name="fats" placeholder="Fats" [(ngModel)]="course.fats">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput type="number" name="protein" placeholder="Protein" [(ngModel)]="course.protein">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput type="number" name="carbs" placeholder="Carbs" [(ngModel)]="course.carbs">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Type</mat-label>
    <mat-select name="type" [(ngModel)]="course.type">
      <mat-option *ngFor="let type of types" [value]="type">
        {{type}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput name="recipe" placeholder="Recipe" [(ngModel)]="course.recipe"></textarea>
  </mat-form-field>

  <button mat-button color="primary" (click)="add()">add</button>
</form>
