<button mat-raised-button color="primary" (click)="show(1490, 157, 78, 38)">Low</button>
<button mat-raised-button color="primary" (click)="show(1486, 137, 61, 96)">Moderate</button>
<button mat-raised-button color="primary" (click)="show(1714, 137, 43, 192)">High</button>

<div class="meals">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="example-table-container">
    <table mat-table [dataSource]="meals" class="example-table" matSort matSortActive="calories" matSortDisableClear
           matSortDirection="desc" multiTemplateDataRows>

      <ng-container matColumnDef="{{column}}" *ngFor="let column of columns" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </th>
        <td mat-cell *matCellDef="let element">
          {{getFieldValue(element[column])}}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
      <tr mat-row *matRowDef="let element; columns: columns;"
          class="example-element-row"></tr>
    </table>
  </div>

  <mat-paginator [length]="resultsLength" [pageSizeOptions]="[10, 25, 50, 100]"
                 showFirstLastButtons></mat-paginator>
</div>
